$body-bg: #e5e5e5;
$primary: rgba(86, 199, 251, 1);
$secondary: #8392ab;
$success: rgba(121, 231, 171, 1);
$info: rgba(204, 243, 253, 1);
$warning: rgba(255, 212, 100, 1);
$danger: rgba(255, 89, 119, 1);
$light: #e9ecef;
$dark: rgba(42, 45, 58, 1);
$grey: #cbcbcb;
$dark-lighten: rgba(71, 76, 97, 1);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);